<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="trip.origin" placeholder="Origem"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="trip.destination" placeholder="Destino"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="trip.date" placeholder="Data"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="trip.price" placeholder="Preço"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveTrip()" expand="block">
      Salvar viagem
    </ion-button>
  </ion-toolbar>
</ion-footer>