<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Viagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <label>Origem: </label>
      {{ trip.origin }}
    </ion-item>
    <ion-item>
      {{ trip.destination }}
    </ion-item>
    <ion-item>
      {{ trip.date }}
    </ion-item>
    <ion-item>
      {{ trip.time }}
    </ion-item>
    <ion-item>
      {{ trip.price }}
    </ion-item>
  </ion-list>
</ion-content>