<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Viagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Origem
        <p>{{ trip.origin }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Destino
        <p>{{ trip.destination }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Data
        <p>{{ trip.date | date: 'dd/MM/y' }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Horário
        <p>{{ trip.time | date: 'shortTime' }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Preço
        <p>{{ trip.price | currency: 'BRL' }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Vagas
          <p>{{ trip.seats }}</p>
        </ion-label>
      </ion-item>
    <ion-item>
      <ion-label>Nome motorista
        <p>{{ userDetails.name }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Telefone motorista
        <p>{{ userDetails.phone }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>