<ion-header>
  <ion-toolbar>
    <ion-title>Viagens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!trips.length">
    <ion-item *ngFor="let item of [0, 1, 2]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-sliding *ngFor="let trip of trips">
      <ion-item button [routerLink]="['/details', trip.id]">

        <ion-label>
          {{ trip.origin }}
          <p>{{ trip.destination }}</p>
          <p>{{ trip.createdAt | date: 'short' }}</p>
        </ion-label>

        <ion-note color="primary" slot="end" *ngIf="trip.price">{{ trip.price | currency: 'BRL' }}</ion-note>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>