
<ion-content class="swiper-no-swiping">
  <div class="container top">
    <ion-segment (ionChange)="segmentChanged($event)" value="javascript">
      <ion-segment-button value="login">
        <ion-label>Login</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Cadastro">
        <ion-label>Cadastro</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Login</span>

        <div class="errorMessage" [innerHtml]="errorMessage"></div>
        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="userLogin.email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha" [(ngModel)]="userLogin.password"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="login()" color="light" expand="block">
            Entrar
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Cadastro</span>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Nome" [(ngModel)]="userDetailsRegister.name"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Telefone" [(ngModel)]="userDetailsRegister.phone"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="userRegister.email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha" [(ngModel)]="userRegister.password"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="register()" color="light" expand="block">
            Cadastrar
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
  </div>
</ion-content>