<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Editar viagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="trip.origin" placeholder="Origem"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="trip.destination" placeholder="Destino"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="trip.date" placeholder="Data" (click)="showDatePicker()" value={{date}}>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="trip.time" placeholder="Horário" (click)="showTimePicker()" value={{time}}>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" [(ngModel)]="trip.price" placeholder="Preço"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" [(ngModel)]="trip.seats" placeholder="Vagas"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveTrip()" color="tertiary" expand="block">
      Salvar viagem
    </ion-button>
  </ion-toolbar>
</ion-footer>