<ion-tabs>
  <ion-tab-bar slot="bottom" color="tertiary">
    <ion-tab-button tab="trips">
      <ion-icon name="car"></ion-icon>
      <ion-label>Viagens</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mytrips">
      <ion-icon name="megaphone"></ion-icon>
      <ion-label>Minhas viagens</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile-menu">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>