<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Minhas Viagens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!mytrips.length">
    <ion-item *ngFor="let item of [0, 1, 2]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-sliding *ngFor="let trip of mytrips">
      <ion-item button [routerLink]="['/edit-trip', trip.id]" *ngIf="trip.userId == authService.getAuth().currentUser.uid">

        <ion-label class="first-label">
          {{ trip.origin }}
          <p>{{ trip.destination }}</p>
          <p>{{ trip.date | date: 'dd/MM/y' }}, {{ trip.time | date: 'shortTime' }}</p>
        </ion-label>

        <ion-label text-center>
            Vagas
            <p>{{ trip.seats }}</p>
          </ion-label>

        <ion-note color="primary" slot="end" color="tertiary" *ngIf="trip.price">{{ trip.price | currency: 'BRL' }}</ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteTrip(trip.id)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Excluir
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-button routerLink="/edit-trip" color="tertiary" expand="block">
            Nova viagem
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>